@import "tailwindcss";
@import "@fontsource/sarabun";

* {
    scroll-behavior: smooth;
}

.font-sarabun {
    font-family: "Sarabun";
}

.font-franklin {
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}

.animate-forwardScroll {
    animation: forwardScroll 4000s linear infinite;
}

.team-svg-size svg {
    width: 20px;
    height: 20px;
}

.footer-svg-size svg {
    width: 32px;
    height: 32px;
}

@keyframes forwardScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-reverseScroll {
    animation: reverseScroll 4000s linear infinite;
}

@keyframes reverseScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}