@import "tailwindcss";
@import "@fontsource/sarabun";

* {
    scroll-behavior: smooth;
}

.font-sarabun {
    font-family: "Sarabun";
}

.font-franklin {
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}

.animate-forwardScroll {
    animation: forwardScroll 4000s linear infinite;
}

.team-svg-size svg {
    width: 20px;
    height: 20px;
}

.footer-svg-size svg {
    width: 32px;
    height: 32px;
}

@keyframes forwardScroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-reverseScroll {
    animation: reverseScroll 4000s linear infinite;
}

@keyframes reverseScroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 639.98px) {
    .nav-link {
        flex-direction: column;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms ease-in-out !important;
        z-index: 3;
        align-items: center;
        background-color: #1C2430;
    }

    .show-navbar {
        right: 0 !important;
    }
}